<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <div class="row">
      <div class="small-3 column">
        <h3>Dennis Music</h3>
      </div>
      <div class="small-9 column">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
